<mat-card style="margin-bottom:10px;">
    <mat-card-header>
        <mat-card-title style="font-size: larger;">SFL2023 個人ランキング</mat-card-title>
        <mat-card-subtitle
            style="background:linear-gradient(transparent 70%, rgba(102, 204, 255, 0.7) 60%); margin-bottom:10px">
            データ反映：{{utils.SFL2023.currentStage}}ステージ 第{{utils.SFL2023.currentSection}}節まで
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>


<table mat-table [dataSource]="ratingTableData" class="mat-elevation-z8">
    <ng-container matColumnDef="crown">
        <th mat-header-cell *matHeaderCellDef style="min-width:50px;max-width:60px;"> </th>
        <td mat-cell *matCellDef="let element" style="min-width:50px;max-width:60px">
            <ng-container *ngIf="element.rank == 1">
                <img src="assets/icons8-crown-96.png" style="width:100%">
            </ng-container>
            <ng-container *ngIf="element.rank == 2">
                <img src="assets/icons8-silver-crown-96.png" style="width:100%">
            </ng-container>
            <ng-container *ngIf="element.rank == 3">
                <img src="assets/icons8-bronze-crown-96.png" style="width:100%">
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef style="min-width:20px;"> </th>
        <td mat-cell *matCellDef="let element" style="min-width:20px;">
            {{element.rank}}
            <ng-container *ngIf="element.isUpdated">
                <sub>({{element.diffRank}})</sub>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> プレイヤ </th>
        <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/player', element.name]" [style]=utils.updatedStyle(element.isUpdated)>{{element.name}}
            </a>
            <!-- <a (click)="onPlayerNameClick(element.name)">{{element.name}} </a> -->
        </td>
    </ng-container>

    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef style="min-width:80px;"> レート </th>
        <td mat-cell *matCellDef="let element" style="min-width:80px;">
            {{element.rating}}
            <ng-container *ngIf="element.isUpdated">
                <sub>({{element.diffRating}})</sub>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="winRate">
        <th mat-header-cell *matHeaderCellDef> 勝率 </th>
        <td mat-cell *matCellDef="let element">
            {{element.winRate}}%
            <sub>({{element.win_n}}/{{element.game_n}})</sub>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
    <a target="_blank" href="https://icons8.com/icon/104660/medieval-crown">Crown</a> icon by <a target="_blank"
        href="https://icons8.com">Icons8</a>
</div>