<div>

    <mat-card style="margin-bottom:10px;">
        <mat-card-header>
            <mat-card-title style="font-size: larger;">{{playerName}}（未実装デモデータ）</mat-card-title>
            <mat-card-subtitle>
                <button mat-flat-button style="height:20px">
                    <img src="assets/2021 Twitter logo - blue.png"
                        style="width:16px;margin-right:2px;padding-top:10px;">
                    <span style="padding-bottom:8px">@tachikawa</span>
                </button>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card style="margin:10px;">
                <mat-card-content style="text-align: center;">
                    ランク {{playerData.rank}}
                </mat-card-content>
            </mat-card>
            <mat-card style="margin:10px;">
                <mat-card-content style="text-align: center;">
                    レーティング {{playerData.latestRating}}
                </mat-card-content>
            </mat-card>
            <mat-card style="margin:10px;">
                <mat-card-content style="text-align: center;">
                    勝率 {{playerData.winRate}}％ ({{playerData.winN}}勝{{playerData.loseN}}敗)
                </mat-card-content>
            </mat-card>
            <mat-card style="margin:10px;">
                <mat-card-content style="text-align: center;">
                    使用キャラ {{playerData.charactors}}
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

    <div>TODO: best, worst</div>
    <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
            [title]="chartOptions.title"></apx-chart>
    </div>

    <p>戦績</p>
    <div>TODO: 日付、勝敗（セット）、相手、相手レーティング、試合（ステージ、節、Match）</div>

    <p>期待勝率</p>

</div>