<mat-card style="margin-bottom:15px;">
    <mat-card-header>
        <mat-card-title style="font-size: x-large;">{{ 'RATINGS.TITLE' | translate }}</mat-card-title>
        <mat-card-subtitle style="font-size:small">
            <div style="padding-top: 1em;">{{ 'RATINGS.SUBTITLE' | translate }}</div>
            <div style="padding-left: 1em;">
                <li *ngFor="let event of events">{{event}}</li>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<div style="display: flex; justify-content: flex-end;">
    <mat-form-field style="width: 150px">
        <mat-label>Country</mat-label>
        <mat-select [(value)]="selectedCountry" (selectionChange)="changeCountry($event)">
            <mat-option *ngFor="let co of countries" [value]="co">
                <span [ngClass]="getFlagClasses(co)" style="padding-left: 5px;"></span>
                {{co}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <table mat-table [dataSource]="ratingTableData" matSort matSortActive="rating" matSortDirection="desc">

        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef style="min-width:20px;"> </th>
            <td mat-cell *matCellDef="let element"
                style="min-width:20px; font-weight: 500; font-size: 1.2em; font-style:italic; color: #444; text-align: center;">
                {{element.rank}}
                <ng-container *ngIf="element.isUpdated">
                    <sub>({{element.diffRank}})</sub>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef style="min-width:20px;"> </th>
            <td mat-cell *matCellDef="let element" style="min-width:20px;">
                <span [ngClass]="getFlagClasses(element.countryCode)"></span>
                <ng-container *ngIf="element.countryCode === ''">
                    <span style="font-size: 0.7em; color: #888">no data</span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.rank == 1">
                    <img src="assets/icons8-crown-96.png"
                        style="width:1.2em; vertical-align: middle; padding-right: 5px">
                </ng-container>
                <ng-container *ngIf="element.rank == 2">
                    <img src="assets/icons8-silver-crown-96.png"
                        style="width:1.2em; vertical-align: middle; padding-right: 5px">
                </ng-container>
                <ng-container *ngIf="element.rank == 3">
                    <img src="assets/icons8-bronze-crown-96.png"
                        style="width:1.2em; vertical-align: middle; padding-right: 5px">
                </ng-container>
                <a [routerLink]="['/cpt2025/player', element.playerId]" [style]=utils.updatedStyle(element.isUpdated)
                    style="font-size: 1.2em">{{element.name}}

                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef style="min-width:80px;" mat-sort-header start="desc"> Rating </th>
            <td mat-cell *matCellDef="let element" style="min-width:80px;">
                <span style="font-size: 1.1em; font-weight: 500;"
                    [style.color]="getColorForRating(element.rating)">{{element.rating}}</span>
                <ng-container *ngIf="element.isUpdated">
                    <sub>({{element.diffRating}})</sub>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="winRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> WinRate </th>
            <td mat-cell *matCellDef="let element">
                {{element.winRate}}%
                <sub style="color: #888; font-size: 0.8 em;">{{element.win_n}}/{{element.game_n}}</sub>
            </td>
        </ng-container>

        <ng-container matColumnDef="cptPoint">
            <th mat-header-cell *matHeaderCellDef style="min-width:40px;" mat-sort-header="cptPoint" start="desc">
                CPT <sub> &nbsp;Pt.</sub>
            </th>
            <td mat-cell *matCellDef="let element" style="min-width:40px;">
                <mat-icon [style.color]="element.ccQualified ? '#444' : 'transparent'"
                    style="color:#444; font-size:1.2rem; vertical-align: middle;">workspace_premium</mat-icon>
                <span>{{element.cptPoint}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements"
        style="margin-top: 3px;">
    </mat-paginator>
</div>

<div style="margin-bottom:100px;"></div>