.player-data {
  font-size: 1.1em;
  font-weight: 500;

  color: #333; /* 文字色 */
  padding-bottom: 2px; /* グラデーションが見えるように少し下げる */
  background-image: linear-gradient(to right, #ffecd2 0%, #ffa1de 100%);
  background-repeat: no-repeat; /* グラデーションの繰り返しをなしに */
  background-size: 100% 5px; /* 横幅100%、高さ3pxのグラデーション */
  background-position: 0 55%; /* 横位置0、縦位置50%（中央） */
  display: inline; /* インライン要素にする */
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 40% 1fr;
  padding: 5px;
}

.grid-item {
  text-align: left;
}
