<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="router.navigate(['/home'])"><mat-icon>trending_up</mat-icon>SFL2023
            個人ランキング</button>
        <button mat-menu-item (click)="router.navigate(['/team'])"><mat-icon>trending_up</mat-icon>SFL2023
            チームランキング</button>
        <button mat-menu-item disabled><mat-icon>trending_up</mat-icon>SFL2022 個人ランキング</button>
        <button mat-menu-item disabled><mat-icon>calculate</mat-icon>レーティング計算方式</button>
    </mat-menu>
    <span style="font-size:0.9em;">格ゲーマーレーティング</span>
    <span class="example-spacer" style="flex: 1 1 auto;"></span>
    <button mat-flat-button color="primary" style="width:110px;" (click)="shareWithTwitter()">
        <img src="assets/2021 Twitter logo - white.png" style="width:20%;margin-right:2px;padding-top:10px;">
        <span style="color:white; font-size:0.8em">ツイートする</span>
    </button>
</mat-toolbar>

<div style="margin:15px 5px;display:flex;justify-content: center;align-items: center;">
    <router-outlet></router-outlet>
</div>