.content {
  width: 100%;
}

.page-content {
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .content {
    width: 570px;
  }

  .page-content {
    margin: 15px 5px;
    display: flex;
  }
}
